language: python
python:
  - "3.5"
  - "3.6"
  - "nightly"

install:
  - "pip install -r requirements.txt"
  - "pip install nose python-coveralls"

# run tests
script:
  - nosetests --with-coverage --cover-package=brap

after_success:
  - coverage xml
  - coveralls
